{{- partial "partials/functions/warnings.html" .Site -}}
{{- partial "partials/functions/init.html" . -}}
<!DOCTYPE html>
<html
  lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default "en") }}
    {{- . -}}
  {{ end }}"
  dir="{{ if .Site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}"
  class="scroll-smooth"
  data-default-appearance="{{ .Site.Params.defaultAppearance | default "light" }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default "true" }}"
>
  {{- partial "head.html" . -}}
  <body class="bg-neutral dark:bg-neutral-800 dark:text-neutral">
    {{ partial "top-banner" }}
    <div
      class="m-auto flex h-screen max-w-7xl flex-col px-6 text-lg leading-7 text-neutral-900 sm:px-14 md:px-24 lg:px-32"
    >
      {{ $header := print "partials/header/" .Site.Params.header.layout ".html" }}
      {{ if templates.Exists $header }}
        {{ partial $header . }}
      {{ else }}
        {{ partial "partials/header/basic.html" . }}
      {{ end }}
      <div class="relative flex grow flex-col">
        <main id="main-content" class="grow">
          {{ block "main" . }}{{ end }}
        </main>
        {{- partial "footer.html" . -}}
      </div>
    </div>
  </body>
</html>
