<footer class="py-10 print:hidden">
  <div class="md:flex items-center justify-between">
    <div>
      {{/* Copyright */}}
      {{ if .Site.Params.footer.showCopyright | default true }}
        <p class="text-sm text-neutral-500 dark:text-neutral-400">
            &copy;
            {{ now.Format "2006" }}. {{ .Site.Params.footer.copyright }}
        </p>
      {{ end }}
      
    </div>
    {{/* Footer menu */}}
  {{ if .Site.Menus.footer }}
    <nav class="text-base font-medium text-neutral-500 dark:text-neutral-400">
      <ul class="flex flex-row gap-x-3 justify-between mt-4 items-center list-none">
        {{ range .Site.Menus.footer }}
          <li
            class="mb-1 group ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0"
          >
              <a
                href="{{ .URL }}"
                title="{{ .Title }}"
                {{ with .Params.target }}target="{{ . }}"{{ end }}
                >{{ with .Params.icon }}
                  <span
                    class="transition-colors group-dark:hover:text-primary-400 group-hover:text-primary-600"
                  >
                    {{ partial "icon.html" . }}
                  </span>
                {{ end }}{{ if .Params.showName | default true }}
                  <span
                    class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
                    >{{ .Name | markdownify | emojify }}</span
                  >
                {{ end }}</a
              >
            
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
    {{/* Appearance switcher */}}
    {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
      <div
        class="cursor-pointer text-sm text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
      >
        <button class="block mx-auto" id="appearance-switcher-0" type="button" aria-label="appearance switcher">
          <div
            class="flex items-center justify-center w-12 h-12 dark:hidden"
            title="{{ i18n "footer.dark_appearance" }}"
          >
            {{ partial "icon.html" "moon" }}
          </div>
          <div
            class="items-center justify-center hidden w-12 h-12 dark:flex"
            title="{{ i18n "footer.light_appearance" }}"
          >
            {{ partial "icon.html" "sun" }}
          </div>
        </button>
      </div>
    {{ end }}
  </div>
  <div class="text-center text-xs mt-4 dark:text-neutral">
    {{ .Site.Params.footer.disclaimer }}
  </div>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partial "extend-footer.html" . }}
  {{ end }}
</footer>
