<header class="py-6 font-semibold text-neutral-900 dark:text-neutral print:hidden sm:py-10">
  <nav class="md:flex items-start justify-between sm:items-center">
    {{/* Site logo/title */}}
    <div class="flex flex-row items-center">
      {{ partial "logo.html" . }}
      {{ partial "translations.html" . }}
    </div>
    {{/* Main menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <ul class="flex gap-x-3 mt-4 md:mt-0 list-none ltr:text-right rtl:text-left">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
            <li
              class="mb-1 group sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0"
            >
			 {{ if isset .Params "submenu" }}
			 	<div class="relative">
				<button type="button" class="inline-flex items-center gap-x-1" aria-expanded="false" onClick="toggleSubmenu(this)">
					<span
					class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
					>{{ .Name | markdownify | emojify }}</span
				  >
				  <svg class="h-5 w-5 block transition duration-150" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
				  </svg>
				</button>
			  
				<div class="submenu absolute opacity-0 transition duration-150 left-1/2 z-10 mt-5 flex w-screen max-w-min -translate-x-1/2 px-4">
				  <div class="w-56 shrink rounded-md bg-neutral p-4 text-sm font-semibold leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5">
					{{ range .Params.Submenu }}
						<a href="{{ .url }}" class="block p-2 text-left decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2">{{ .name }}</a>
					{{ end }}
				  </div>
				</div>
			  </div>
              {{ else }}
                <a
                  href="{{ .URL }}"
                  title="{{ .Title }}"
                  {{ with .Params.target }}target="{{ . }}"{{ end }}
                  >{{ with .Params.icon }}
                    <span
                      class="transition-colors group-dark:hover:text-primary-400 group-hover:text-primary-600"
                    >
                      {{ partial "icon.html" . }}
                    </span>
                  {{ end }}{{ if .Params.showName | default true }}
                    <span
                      class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
                      >{{ .Name | markdownify | emojify }}</span
                    >
                  {{ end }}</a
                >
              {{ end }}
            </li>
          {{ end }}
          {{ if and ($.Site.Params.enableSearch | default false) (eq ($.Scratch.Get "searchCount") 0) }}
            <li
              class="mb-1 rotate-180 group sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0"
            >
              <button id="search-button-m0" title="{{ i18n "search.open_button_title" }}">
                <span
                  class="transition-colors group-dark:hover:text-primary-400 group-hover:text-primary-600"
                >
                  {{ partial "icon.html" "search" }}
                </span>
              </button>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</header>
